<a href="https://colab.research.google.com/github/HIsu1231/Pochen_-Local-Currency/blob/main/%EC%A3%BC%EC%86%8C_%EA%B2%BD%EC%9C%84%EB%8F%84%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/경기지역화폐_가맹점리스트_1007_포천 .xlsx')
print(data.head())

  지자체                     가맹점명       사업자번호  ... 등록사이트 등록일자  등록여부 한번이라도 결제 일어난 가맹점 여부
0  포천                       로또  6516300119  ...        NaT     X                   O
1  포천    글로벌모터스(GLOBAL-MOTORS)  3650200478  ...        NaT     X                   X
2  포천                      강나루  8754000147  ...        NaT     X                   O
3  포천  Kaylie's coffee(케일리 커피)  2145000109  ... 2020-10-07     O                   O
4  포천            용광사.일동열쇠.이동열쇠  7571000371  ...        NaT     X                   O

[5 rows x 14 columns]

In [ ]:
address = data['주소']
print(address.head())

0    경기 포천시 소흘읍 죽엽산로196번길 4 ,1층
1         경기 포천시 소흘읍 호국로 15-18
2         경기 포천시 이동면 포화로 51-10
3     경기 포천시 신읍길 35-1 ,1층 (신읍동)
4       경기 포천시 일동면 기산리 90-177번지
Name: 주소, dtype: object

In [ ]:
for i in range(len(address)):
  a = address[i].split(' ')
  address[i] = " ".join(a[0:4])
print(address)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0        경기 포천시 소흘읍 죽엽산로196번길
1              경기 포천시 소흘읍 호국로
2              경기 포천시 이동면 포화로
3             경기 포천시 신읍길 35-1
4              경기 포천시 일동면 기산리
                 ...
10536     경기 포천시 소흘읍 솔모루로78번길
10537       경기 포천시 소흘읍 광릉수목원로
10538      경기 포천시 영북면 운천로23번길
10539     경기 포천시 신북면 중앙로207번길
10540      경기 포천시 소흘읍 솔모루로3번길
Name: 주소, Length: 10541, dtype: object

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [ ]:
#도로명 주소 위도 경도 값으로 바꿔주기
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

l = []
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = (geo.latitude, geo.longitude)
    return x_y

In [ ]:
geocoding('경기 포천시 일동면 화동로 1043')

In [ ]:
geocoding('경기 포천시 이동면 도평리 61-3')

AttributeError: ignored

In [ ]:
latitude = [0 for i in range(10541)]
longitude =[0 for i in range(10541)]
l = []

for i in range(len(address)):
  try:
    latitude[i]= geocoding(address[i])[0]
    longitude[i] = geocoding(address[i])[1]

  except:
    l.append(address[i])

In [ ]:
len(l)

5039

In [ ]:
df = pd.DataFrame({'latitude':latitude, 'longitude':longitude})

In [ ]:
df

        latitude   longitude
0       0.000000    0.000000
1      37.815111  127.135696
2       0.000000    0.000000
3       0.000000    0.000000
4       0.000000    0.000000
...          ...         ...
10536  37.827872  127.147733
10537  37.778999  127.117202
10538   0.000000    0.000000
10539   0.000000    0.000000
10540  37.824420  127.137970

[10541 rows x 2 columns]

In [ ]:
df2 = pd.DataFrame({'누락주소':l})

In [ ]:
df.to_excel('위경도.xlsx')

In [ ]:
df2.to_excel('누락주소.xlsx')

In [ ]:
(import pandas as pd
# csv파일 불러오기
data = pd.read_excel('/content/drive/MyDrive/경기지역화폐_가맹점리스트_1007_포천 .xlsx')

# 데이터프레임 주소값 추출
address= data['주소']
print(address.head())


# 주소 데이터 깔끔하게 다듬기
for i in range(len(address)):
    a = address[i].split(' ')
    address[i] = " ".join(a[0:4])
print(address)

####### 도로명주소 위도 경도 값으로 바꿔주기 ########
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')
# 위도, 경도 반환하는 함수
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = (geo.latitude, geo.longitude)
    return x_y




#####주소를 위,경도 값으로 변환하기 #####
latitude = []
longitude =[]

for i in address:
    latitude1.append(geocoding(i)[0])
    longitude1.append(geocoding(i)[1])

#####Dataframe만들기######
#address_df = pd.DataFrame({'카페이름': csv['사업장명'],'상세주소':csv['소재지도로명주소'],'주소':address,'위도':latitude,'경도':longitude})

#df저장
#address_df.to_csv('jungu_incheon_coffeeshop.csv')

0    경기 포천시 소흘읍 죽엽산로196번길 4 ,1층
1         경기 포천시 소흘읍 호국로 15-18
2         경기 포천시 이동면 포화로 51-10
3     경기 포천시 신읍길 35-1 ,1층 (신읍동)
4       경기 포천시 일동면 기산리 90-177번지
Name: 주소, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

0        경기 포천시 소흘읍 죽엽산로196번길
1              경기 포천시 소흘읍 호국로
2              경기 포천시 이동면 포화로
3             경기 포천시 신읍길 35-1
4              경기 포천시 일동면 기산리
                 ...
10536     경기 포천시 소흘읍 솔모루로78번길
10537       경기 포천시 소흘읍 광릉수목원로
10538      경기 포천시 영북면 운천로23번길
10539     경기 포천시 신북면 중앙로207번길
10540      경기 포천시 소흘읍 솔모루로3번길
Name: 주소, Length: 10541, dtype: object

AttributeError: ignored